html {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../sprite/background-Sprite.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#interface{
    display: grid;
    width: 100%;
    height: 200px;
    background-color: #a3a3a3;
    position: absolute;
    bottom:0;
    background-repeat: no-repeat;
}

#dialogue {
    display: grid;
    width: 400px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: left;
    align-items: center;
    bottom:10px;
    left:10px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#atkInteraction{
    display: grid;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: left;
    align-items: center;
    bottom: 140px;
    left:430px;
    font: small-caps bold 20px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#defInteraction{
    display: grid;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: left;
    align-items: center;
    bottom:75px;
    left:430px;
    font: small-caps bold 20px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#skillInteraction{
    display: grid;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:430px;
    font: small-caps bold 20px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#renStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#renLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 30px;
    left : 10px;
}
#renManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    bottom : 70px;
    left : 10px;
}
#ren_pv{
    font-size:30px;
}
#ren_mana{
    font-size:30px;
}
#alliaStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#alliaLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 30px;
    left : 10px;
}
#alliaManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    bottom : 70px;
    left : 10px;
}
#allia_pv{
    font-size : 30px;
}
#allia_mana{
    font-size : 30px;
}
#ragisStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#ragisLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 30px;
    left : 10px;
}
#ragisManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    bottom : 70px;
    left : 10px;
}
#ragis_pv{
    font-size: 30px;
}
#ragis_mana{
    font-size: 30px;
}
#succubisStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#succubisLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 30px;
    left : 10px;
}
#succubisManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    bottom : 70px;
    left : 10px;
}
#succubis_pv{
    font-size:30px;
}
#succubis_mana{
    font-size:30px;
}
#renIdleSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    right: 300px;
}
#dogenadonSprite:hover{
    filter: drop-shadow(0 1rem 3rem red);
}
#katculubSprite:hover{
    filter: drop-shadow(0 1rem 3rem red);
}
#bunarokSprite:hover{
    filter: drop-shadow(0 1rem 3rem red);
}
#renAtkSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    right: 300px;
    display:none;
}
#renSkillSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    right: 300px;
    display:none;
}
#ragisIdleSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    right: 250px;
}
#ragisAtkSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    right: 250px;
    display:none;
}
#ragisSkillSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    right: 250px;
    display:none;
}
#alliaIdleSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 320px;
    right: 200px;
}
#alliaAtkSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 320px;
    right: 200px;
    display:none;
}
#alliaSkillSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 320px;
    right: 200px;
    display:none;
}
#succubisIdleSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 190px;
    right: 120px;
}
#succubisAtkSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 190px;
    right: 120px;
    display:none;
}
#succubisSkillSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 190px;
    right: 120px;
    display:none;
}
#DogenadonSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
}
#katculubSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
}
#BunarokSprite{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
}
#biteOnRen{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    right: 300px;
    display: none;
}
#biteOnRagis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 170px;
    right: 240px;
    display: none;
}
#biteOnAllia{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 310px;
    right: 150px;
    display: none;
}
#biteOnSuccubis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 180px;
    right: 90px;
    display: none;
}
#clawOnRen{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    right: 300px;
    display: none;
}
#clawOnRagis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 170px;
    right: 240px;
    display: none;
}
#clawOnAllia{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 310px;
    right: 150px;
    display: none;
}
#clawOnSuccubis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 180px;
    right: 90px;
    display: none;
}
#charmOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#charmOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#charmOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#cutOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#cutOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#cutOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#fireBoomOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#fireBoomOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#fireBoomOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#healOnRen{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    right: 300px;
    display: none;
}
#healOnRagis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 170px;
    right: 240px;
    display: none;
}
#healOnAllia{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 310px;
    right: 150px;
    display: none;
}
#healOnSuccubis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 180px;
    right: 90px;
    display: none;
}
#laserOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#laserOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#laserOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#tourDeRen{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 350px;
    right: 300px;
    display: none;
}
#tourDeRagis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 220px;
    right: 240px;
    display: none;
}
#tourDeAllia{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 350px;
    right: 150px;
    display: none;
}
#tourDeSuccubis{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 220px;
    right: 90px;
    display: none;
}
#multihitOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#multihitOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#multihitOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#magicpunchOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#magicpunchOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#magicpunchOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#seismeOnDogenadon{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 300px;
    left: 300px;
    display:none;
}
#seismeOnKatculub{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 250px;
    left: 200px;
    display:none;
}
#seismeOnBunarok{
    width:200px;
    height:200px;
    position: absolute;
    bottom: 200px;
    left: 100px;
    display:none;
}
#dogenadonStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    align-items: center;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#dogenadonLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;
    top : 50px;
    left : 10px;
}
#dogenadonPv{
    top:30px
}
#katculubStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    align-items: center;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#katculubLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;
    top : 50px;
    left : 10px;
}
#katculubPv{
    top:30px;
}
#bunarokStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    align-items: center;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#bunarokLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;
    top : 50px;
    left : 10px;
}
#bunarokPv{
    top:30px
}