html {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../sprite/background-Sprite.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#interface{
    display: grid;
    width: 100%;
    height: 200px;
    background-color: #8b8b8b;
    position: absolute;
    bottom:0;
    background-repeat: no-repeat;
}

