html {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../sprite/background-Sprite.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#interface{
    display: grid;
    width: 100%;
    height: 200px;
    background-color: #a3a3a3;
    position: absolute;
    bottom:0;
    background-repeat: no-repeat;
}

#dialogue {
    display: grid;
    width: 400px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: left;
    align-items: center;
    bottom:10px;
    left:10px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#atkInteraction{
    display: grid;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: left;
    align-items: center;
    bottom: 140px;
    left:430px;
    font: small-caps bold 20px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#defInteraction{
    display: grid;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: left;
    align-items: center;
    bottom:75px;
    left:430px;
    font: small-caps bold 20px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#skillInteraction{
    display: grid;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:430px;
    font: small-caps bold 20px/1 sans-serif;
    background-repeat: no-repeat;
    text-align: center;
}
#renStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#renLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#renPv{
    background-color: green;
}
#renManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#alliaStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#alliaLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#alliaPv{
    background-color: green;
}
#alliaManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#ragisStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#ragisLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#ragisPv{
    background-color: green;
}
#ragisManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#succubisStatistique{
    display: grid;
    width: 665px;
    height: 180px;
    color: rgb(255, 255, 255);
    background-color: #5c5c5c;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom:10px;
    left:600px;
    font: small-caps bold 40px/1 sans-serif;
    background-repeat: no-repeat;
    justify-content:flex-start;
    display: none;
}
#succubisLifejauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}
#succubisPv{
    background-color: green;
}
#succubisManajauge{
    width:20px;
    height:20px;
    display: grid;
    position: absolute;

    top : 10px;
    left : 10px;
}